.board {
    display: grid;
    grid-auto-flow: row;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-top: 5px;
    justify-content: center;
    width: 100vw;

    .board-row {
        display: flex;
        flex-wrap: nowrap;
    }
}

.board-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    button {
        display: inline-block;

        &.find-path {
            @include button(rgb(98, 233, 98), rgb(37, 185, 37), rgb(11, 124, 11), rgb(105, 162, 105), rgb(49, 72, 49));
        }

        &.soft-reset {
            @include button(rgb(232, 239, 99), rgb(237, 240, 65),rgb(255, 242, 0), rgb(211, 206, 123), rgb(162, 163, 83));
        }

        &.reset {
            @include button(rgb(232, 79, 79), rgb(223, 35, 35), rgb(143, 23, 21), rgb(169, 87, 87), rgb(67, 24, 24));
        }

        &.show-dist {
            @include button(#2b91f1, #2b91f1, #2b91f1, #66788b, #66788b);
        }

        &.show-dist-off {
            @include button(#646464, #646464, #646464, gray, gray);
        }
    }
}
