@import "Node";
// Need to access Node length
$height: 10;
$width: 20;

.board {
    display: grid;
    grid-template-rows: repeat($height, $length);
    grid-template-columns: repeat($width, $length);
    grid-auto-flow: dense;
    margin: 20px;
}

.board-buttons {
    display: flex;
    align-items: center;
    padding:20px;

    button {
        display: inline-block;

        &.find-path {
            @include button(rgb(98, 233, 98), rgb(37, 185, 37), rgb(11, 124, 11));
        }

        &.reset {
            @include button(rgb(232, 79, 79), rgb(223, 35, 35), rgb(143, 23, 21));
        }
    }
}
