@import "Node";
// Need to access Node length

.board {
    $height: 5;
    $width: 5;
    display: grid;
    grid-template-rows: repeat($height, $length);
    grid-template-columns: repeat($width, $length);
    grid-auto-flow: dense;
}