@import "reset";
@import "abstract";
@import "controls";
@import "node";
@import "board";

.app {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    min-width: fit-content;
    overflow: scroll;
}