* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101010;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
  display: block;
  width: 100vw;
  position: relative;
  padding-top: 20px;
  padding: 10px;
  background-color: #1b1b1b;
  color: white;
}

.header h1 {
  padding: 10px;
  border-bottom: 1px grey solid;
}

.header button {
  width: 70px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #eef5ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.header button:hover {
  background-color: #cde0f1;
}

.header button:active {
  background-color: #a8c2db;
  box-shadow: 0 5px gray;
  transform: translateY(4px);
}

.header .controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header .controls .divider {
  height: 100px;
  border: 2px solid black;
}

.header .controls .barrier-types .selected.wall {
  width: 70px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #5b9fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #829db9;
}

.header .controls .barrier-types .selected.wall:hover {
  background-color: #62adef;
}

.header .controls .barrier-types .selected.wall:active {
  background-color: #2b91f1;
  box-shadow: 0 5px gray;
  transform: translateY(4px);
}

.header .controls .barrier-types .selected.forest {
  width: 70px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #157637;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #41604c;
}

.header .controls .barrier-types .selected.forest:hover {
  background-color: #0e682e;
}

.header .controls .barrier-types .selected.forest:active {
  background-color: #0b4b21;
  box-shadow: 0 5px gray;
  transform: translateY(4px);
}

.header .controls .barrier-types .selected.none {
  width: 70px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #969696;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #787878;
}

.header .controls .barrier-types .selected.none:hover {
  background-color: #9e9e9e;
}

.header .controls .barrier-types .selected.none:active {
  background-color: #646464;
  box-shadow: 0 5px gray;
  transform: translateY(4px);
}

.header .controls .algorithms .selected {
  width: 70px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #5be86c;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #7ace83;
  width: 90px;
  height: 45px;
}

.header .controls .algorithms .selected:hover {
  background-color: #2cc23d;
}

.header .controls .algorithms .selected:active {
  background-color: #298734;
  box-shadow: 0 5px #2c472e;
  transform: translateY(4px);
}

.header .controls .adjust-size {
  display: inline-grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}

.header .controls .adjust-size button {
  height: 40px;
  width: 40px;
  padding: 10px;
  text-align: center;
  margin-top: 5px;
}

.header .controls .adjust-size .adjust-height,
.header .controls .adjust-size .adjust-width {
  margin: 5px 10px;
}

.header .controls .adjust-size .adjust-height {
  display: inline-grid;
  grid-auto-flow: row;
  justify-items: center;
}

.header .controls .adjust-size .adjust-width {
  display: inline-grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  gap: 0;
}

.header .controls .adjust-size .adjust-width .descriptor {
  grid-column: 1/4;
  grid-row: 1;
  text-align: center;
}

.header .controls .adjust-size .adjust-width .left {
  grid-column: 1;
  grid-row: 2;
}

.header .controls .adjust-size .adjust-width .value {
  grid-column: 2;
  grid-row: 2;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.header .controls .adjust-size .adjust-width .right {
  grid-column: 3;
  grid-row: 2;
}

.node {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #298829;
  border: 1px rgba(175, 175, 175, 0.637) solid;
  border-top: 0;
  border-left: 0;
}

.node.start-node {
  background-color: #fff12b;
}

.node.end-node {
  background-color: #f04b4b;
}

.node.wall-node .barrier-segments {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-flow: dense;
}

.node.wall-node .barrier-segments .barrier-segment {
  background-color: #109dee;
}

.node.forest-node .barrier-segments {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-flow: dense;
}

.node.forest-node .barrier-segments .barrier-segment {
  background-color: #025a02;
}

.node.visited:not(.node.end-node) {
  animation-name: visitAnimation;
  animation-duration: 0.75s;
  background-color: #0a2e0a;
}

.node.path-node.visited {
  background-color: #287bb6 !important;
}

@keyframes visitAnimation {
  0% {
    transform: scale(0.9);
    border: 1px rgba(175, 175, 175, 0.637) solid;
    z-index: 2;
  }
  10% {
    transform: scale(1.15);
    background-color: #35aa35;
  }
  99% {
    border: 1px rgba(175, 175, 175, 0.637) solid;
  }
  100% {
    transform: scale(1);
    border-top: 0;
    border-left: 0;
    z-index: 1;
    background-color: #0a2e0a;
  }
}

.board {
  display: grid;
  grid-auto-flow: row;
  margin: 20px;
  margin-top: 5px;
  justify-content: center;
}

.board .board-row {
  display: flex;
  flex-wrap: nowrap;
}

.board-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.board-buttons button {
  display: inline-block;
}

.board-buttons button.find-path {
  width: 70px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #62e962;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #69a269;
}

.board-buttons button.find-path:hover {
  background-color: #25b925;
}

.board-buttons button.find-path:active {
  background-color: #0b7c0b;
  box-shadow: 0 5px #314831;
  transform: translateY(4px);
}

.board-buttons button.soft-reset {
  width: 70px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #e8ef63;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #d3ce7b;
}

.board-buttons button.soft-reset:hover {
  background-color: #edf041;
}

.board-buttons button.soft-reset:active {
  background-color: #fff200;
  box-shadow: 0 5px #a2a353;
  transform: translateY(4px);
}

.board-buttons button.reset {
  width: 70px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #e84f4f;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #a95757;
}

.board-buttons button.reset:hover {
  background-color: #df2323;
}

.board-buttons button.reset:active {
  background-color: #8f1715;
  box-shadow: 0 5px #431818;
  transform: translateY(4px);
}

.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/*# sourceMappingURL=App.css.map */