* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(16, 16, 16);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.overlay, .node.forest-node .barrier-segments .barrier-segment::after, .node.wall-node .barrier-segments .barrier-segment::after, .node.end-node::after, .node.start-node::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  display: block;
  width: 100vw;
  position: relative;
  padding-top: 20px;
  padding: 10px;
  background-color: rgb(27, 27, 27);
  color: white;
}
.header h1 {
  padding: 10px;
  border-bottom: 1px grey solid;
}
.header button {
  width: 70px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(238, 245, 255);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.header button:hover {
  background-color: rgb(205, 224, 241);
}
.header button:active {
  background-color: rgb(168, 194, 219);
  box-shadow: 0 5px rgb(128, 128, 128);
  transform: translateY(4px);
}
.header .controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .controls .divider {
  height: 100px;
  border: 2px solid black;
}
.header .controls .barrier-types .selected.wall {
  width: 70px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(91, 159, 255);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(130, 157, 185);
}
.header .controls .barrier-types .selected.wall:hover {
  background-color: rgb(98, 173, 239);
}
.header .controls .barrier-types .selected.wall:active {
  background-color: rgb(43, 145, 241);
  box-shadow: 0 5px rgb(128, 128, 128);
  transform: translateY(4px);
}
.header .controls .barrier-types .selected.forest {
  width: 70px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(21, 118, 55);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(65, 96, 76);
}
.header .controls .barrier-types .selected.forest:hover {
  background-color: rgb(14, 104, 46);
}
.header .controls .barrier-types .selected.forest:active {
  background-color: rgb(11, 75, 33);
  box-shadow: 0 5px rgb(128, 128, 128);
  transform: translateY(4px);
}
.header .controls .barrier-types .selected.none {
  width: 70px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(150, 150, 150);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(120, 120, 120);
}
.header .controls .barrier-types .selected.none:hover {
  background-color: rgb(158, 158, 158);
}
.header .controls .barrier-types .selected.none:active {
  background-color: rgb(100, 100, 100);
  box-shadow: 0 5px rgb(128, 128, 128);
  transform: translateY(4px);
}
.header .controls .algorithms .selected {
  width: 70px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(91, 232, 108);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(122, 206, 131);
  width: 90px;
  height: 45px;
}
.header .controls .algorithms .selected:hover {
  background-color: rgb(44, 194, 61);
}
.header .controls .algorithms .selected:active {
  background-color: rgb(41, 135, 52);
  box-shadow: 0 5px rgb(44, 71, 46);
  transform: translateY(4px);
}
.header .controls .adjust-size {
  display: inline-grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}
.header .controls .adjust-size button {
  height: 40px;
  width: 40px;
  padding: 10px;
  text-align: center;
  margin-top: 5px;
}
.header .controls .adjust-size .adjust-height,
.header .controls .adjust-size .adjust-width {
  margin: 5px 10px;
}
.header .controls .adjust-size .adjust-height {
  display: inline-grid;
  grid-auto-flow: row;
  justify-items: center;
}
.header .controls .adjust-size .adjust-width {
  display: inline-grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  gap: 0;
}
.header .controls .adjust-size .adjust-width .descriptor {
  grid-column: 1/4;
  grid-row: 1;
  text-align: center;
}
.header .controls .adjust-size .adjust-width .left {
  grid-column: 1;
  grid-row: 2;
}
.header .controls .adjust-size .adjust-width .value {
  grid-column: 2;
  grid-row: 2;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.header .controls .adjust-size .adjust-width .right {
  grid-column: 3;
  grid-row: 2;
}

.node {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: rgb(41, 136, 41);
  border: 1px rgba(175, 175, 175, 0.637) solid;
  border-top: 0;
  border-left: 0;
}
.node.start-node {
  position: relative;
}
.node.start-node::after {
  background-image: url("../public/images/PlusheenCat.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(-1);
}
.node.end-node {
  position: relative;
}
.node.end-node::after {
  background-image: url("../public/images/IceCream.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(-1);
}
.node.wall-node .barrier-segments {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-flow: dense;
}
.node.wall-node .barrier-segments .barrier-segment {
  position: relative;
}
.node.wall-node .barrier-segments .barrier-segment::after {
  background-color: rgb(16, 157, 238);
  opacity: 0.85;
  overflow: hidden;
}
.node.forest-node .barrier-segments {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-flow: dense;
}
.node.forest-node .barrier-segments .barrier-segment {
  position: relative;
}
.node.forest-node .barrier-segments .barrier-segment::after {
  background-color: rgb(2, 90, 2);
  opacity: 0.85;
  overflow: hidden;
}
.node.visited:not(.node.end-node) {
  animation-name: visitAnimation;
  animation-duration: 0.75s;
  background-color: rgb(10, 46, 10);
}
.node.path-node.visited:not(.node.start-node, .node.end-node) {
  background-color: rgb(40, 123, 182) !important;
}
.node .distance-display {
  color: rgb(215, 215, 215);
  font-family: fantasy;
  position: absolute;
  user-select: none;
  left: 45%;
  top: 35%;
}

@keyframes visitAnimation {
  0% {
    transform: scale(0.9);
    border: 1px rgba(175, 175, 175, 0.637) solid;
    z-index: 2;
  }
  10% {
    transform: scale(1.15);
    background-color: rgb(53, 170, 53);
  }
  99% {
    border: 1px rgba(175, 175, 175, 0.637) solid;
  }
  100% {
    transform: scale(1);
    border-top: 0;
    border-left: 0;
    z-index: 1;
    background-color: rgb(10, 46, 10);
  }
}
.board {
  display: grid;
  grid-auto-flow: row;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-top: 5px;
  justify-content: center;
  width: 100vw;
}
.board .board-row {
  display: flex;
  flex-wrap: nowrap;
}

.board-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.board-buttons button {
  display: inline-block;
}
.board-buttons button.find-path {
  width: 70px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(98, 233, 98);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(105, 162, 105);
}
.board-buttons button.find-path:hover {
  background-color: rgb(37, 185, 37);
}
.board-buttons button.find-path:active {
  background-color: rgb(11, 124, 11);
  box-shadow: 0 5px rgb(49, 72, 49);
  transform: translateY(4px);
}
.board-buttons button.soft-reset {
  width: 70px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(232, 239, 99);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(211, 206, 123);
}
.board-buttons button.soft-reset:hover {
  background-color: rgb(237, 240, 65);
}
.board-buttons button.soft-reset:active {
  background-color: rgb(255, 242, 0);
  box-shadow: 0 5px rgb(162, 163, 83);
  transform: translateY(4px);
}
.board-buttons button.reset {
  width: 70px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(232, 79, 79);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(169, 87, 87);
}
.board-buttons button.reset:hover {
  background-color: rgb(223, 35, 35);
}
.board-buttons button.reset:active {
  background-color: rgb(143, 23, 21);
  box-shadow: 0 5px rgb(67, 24, 24);
  transform: translateY(4px);
}
.board-buttons button.show-dist {
  width: 70px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #2b91f1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #66788b;
}
.board-buttons button.show-dist:hover {
  background-color: #2b91f1;
}
.board-buttons button.show-dist:active {
  background-color: #2b91f1;
  box-shadow: 0 5px #66788b;
  transform: translateY(4px);
}
.board-buttons button.show-dist-off {
  width: 70px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #646464;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px gray;
}
.board-buttons button.show-dist-off:hover {
  background-color: #646464;
}
.board-buttons button.show-dist-off:active {
  background-color: #646464;
  box-shadow: 0 5px gray;
  transform: translateY(4px);
}

.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*# sourceMappingURL=App.css.map */
