* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.controls {
  display: block;
  width: 100%;
  padding: 20px 40px 40px 40px;
  background-color: #b3ddff;
}

.controls h1 {
  padding: 10px;
  border-bottom: 1px grey solid;
}

.controls .placements {
  display: inline-flex;
}

.controls button {
  width: 90px;
  height: 60px;
  margin: 10px;
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  background-color: #eef5ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.controls button:hover {
  background-color: #cde0f1;
}

.controls button:active {
  background-color: #a8c2db;
  box-shadow: 0 5px gray;
  transform: translateY(4px);
}

.controls .adjust-size {
  display: inline-grid;
  grid-auto-flow: row;
  justify-items: center;
}

.node {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #298829;
  border: 1px rgba(175, 175, 175, 0.637) solid;
  border-top: 0;
  border-left: 0;
}

.node.start-node {
  background-color: #fff12b;
}

.node.end-node {
  background-color: #f04b4b;
}

.node.wall-node .barrier-segments {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-flow: dense;
}

.node.wall-node .barrier-segments .barrier-segment {
  background-color: #109dee;
}

.node.forest-node .barrier-segments {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-flow: dense;
}

.node.forest-node .barrier-segments .barrier-segment {
  background-color: #025a02;
}

.node.visited:not(.node.end-node) {
  animation-name: visitAnimation;
  animation-duration: 0.75s;
  background-color: #0a2e0a;
}

.node.path-node.visited {
  background-color: blue !important;
}

@keyframes visitAnimation {
  0% {
    transform: scale(0.9);
    border: 1px rgba(175, 175, 175, 0.637) solid;
    z-index: 2;
  }
  10% {
    transform: scale(1.2);
    background-color: #35aa35;
  }
  99% {
    border: 1px rgba(175, 175, 175, 0.637) solid;
  }
  100% {
    transform: scale(1);
    border-top: 0;
    border-left: 0;
    z-index: 1;
    background-color: #0a2e0a;
  }
}

.board {
  display: grid;
  grid-auto-flow: row;
  margin: 20px;
  justify-content: center;
}

.board .board-row {
  display: flex;
  flex-wrap: nowrap;
}

.board-buttons {
  display: flex;
  align-items: center;
  padding: 5px;
}

.board-buttons button {
  display: inline-block;
}

.board-buttons button.find-path {
  width: 90px;
  height: 60px;
  margin: 10px;
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  background-color: #62e962;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.board-buttons button.find-path:hover {
  background-color: #25b925;
}

.board-buttons button.find-path:active {
  background-color: #0b7c0b;
  box-shadow: 0 5px gray;
  transform: translateY(4px);
}

.board-buttons button.reset {
  width: 90px;
  height: 60px;
  margin: 10px;
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  background-color: #e84f4f;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.board-buttons button.reset:hover {
  background-color: #df2323;
}

.board-buttons button.reset:active {
  background-color: #8f1715;
  box-shadow: 0 5px gray;
  transform: translateY(4px);
}

.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/*# sourceMappingURL=App.css.map */